:root {
    --main-bg-color: #fff;
    --sub-bg-color: #000;
    --main-text-color: #000;
    --sub-text-color: #fff;
    --accent-color: #f64c72;
    --first-brand-color: #242582;
    --second-brand-color: #99738e;
    --third-brand-color: #553d67;
    /* --first-brand-color: #4d774e;
    --second-brand-color: #f1b24a;
    --third-brand-color: #164a41;
    --fourth-brand-color: #9dc88d; */
    --main-font: 'Open Sans';
    --title-font: 'Roboto';
    
    font-size: 62.5%;
}